#top-bar {
    z-index: 2000;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    text-align: center;
    width: 100%;
    line-height: 3;
}

.logged-in #top-bar {
    margin-top: 32px;
}